.info{width: 300px;padding: 5px;float: left}
.image{width: 300px;padding: 25px;float: right}
body{background-color: #dad69f;text-align: center}
h1{line-height: 50px;}
header{background-color: #a3945d}
p{text-align: justify;}
section{clear: both;margin: auto;margin-top: 30px;width: 700px;height: 400px;background-color: #6d82b1}
img{max-height: 250px;}